.custom_container {
  width: 50%;
  margin: 20px auto;
}
.table {
  border-collapse: separate;
  border-spacing: 3px;
}

td:hover {
  background-color: #666666;
}

th,
td {
  width: calc(100% / 7);
  /* padding: 3rem !important; */
  /* height: calc(100% / 6) !important; */
}
td {
  font-size: x-small !important;
  height: 120px;
  vertical-align: top;
}
h1 {
  text-align: center;
}
h5 {
  font-size: small !important;
}
h6 {
  font-size: x-small;
}
.card p {
  margin-bottom: 0 !important;
}
.img-bg {
  max-width: 70%;
}
.landingPageHeading {
  height: 200px;
  width: 100%;
  /* background-image: url("https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?q=80&w=2944&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-size: cover;
}

.btn-custom {
  --bs-btn-padding-y: 0.1rem;
  --bs-btn-padding-x: 0.2rem;
  --bs-btn-font-size: 0.5rem;
}

.deleteBtnForm {
  float: right;
  /* margin-top: -40px; */
  transform: translateY(-100%);
}
